
services:
  user_debian:
    build:
      context: .
      dockerfile: ./build/Dockerfile
      args:
        app_username: ${app_username}
        app_user_id: ${app_user_id}
        app_group_id: ${app_group_id}
    hostname: $app_username-debian
    environment:
      - SSH_AUTH_SOCK=/run/ssh-agent/agent.host
      - app_username=${app_username}
      - app_user_id=${app_user_id}
      - app_group_id=${app_group_id}
      - ssh_authorized_keys=${ssh_authorized_keys}
    ports:
      - "$app_expose_ip:${ssh_port}:22"
    volumes:
      - ./data/home:/home/${app_username}
      - ./data/ssh:/etc/ssh
      - ./build/scripts:/scripts_extra:ro
      - ./config/init.ini:/etc/init.ini:ro
      #- ${host_mnt_path}:/mnt
      - $SSH_AUTH_SOCK:/run/ssh-agent/agent.host
    restart: unless-stopped
    stdin_open: true
    tty: true

#  user_services:
#    profiles:
#    - beta
#    extends:
#      service: user_debian
#    hostname: user_services
#    ports:
#      - "$app_expose_ip:${ssh_port_services}:22"
#    volumes:
#      - ./data/home_services:/home/${app_username}
#      - ./data/ssh_services:/etc/ssh
#      - ./scripts:/scripts:ro
#      - ./config/init.ini:/etc/init.ini:ro
#      - ${host_mnt_path}:/mnt
