# Main docker compose file

x-features:
  app_username: $app_username
  app_user_id: ${app_user_id}
  app_group_id: ${app_group_id}
  app_expose_port_ssh: $app_expose_port_ssh
x-infos:
  connect: |
    ssh -p $app_expose_port_ssh $app_username@$app_expose_ip

services:
  user_debian:
    build:
      context: .
      dockerfile: ./build/Dockerfile
      tags:
        - "docker-homebox-debian:latest"
        - "docker-homebox-debian:${app_username}-latest"
      labels:
        org.jeznet.description: "User container"
      args:
        app_username: ${app_username}
        app_user_id: ${app_user_id}
        app_group_id: ${app_group_id}

    hostname: ${app_username}-debian
    environment:
      - app_username=${app_username}
      - app_user_id=${app_user_id}
      - app_group_id=${app_group_id}
      - ssh_authorized_keys=${app_ssh_authorized_keys}
    ports:
      - "$app_expose_ip:${app_expose_port_ssh}:22"
    volumes:
      - ./data/ssh:/etc/ssh
      - ./data/share:/data:ro
    restart: unless-stopped
    stdin_open: true
    tty: true

#  user_services:
#    profiles:
#    - beta
#    extends:
#      service: user_debian
#    hostname: user_services
#    ports:
#      - "$app_expose_ip:${app_expose_port_ssh_service}:22"
#    volumes:
#      - ./data/home_services:/home/${app_username}
#      - ./data/ssh_services:/etc/ssh
#      - ./scripts:/scripts:ro
#      - ./config/init.ini:/etc/init.ini:ro
#      - ${host_mnt_path}:/mnt
